{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":2,"column":0},"end":{"row":8,"column":24},"action":"insert","lines":["flask","flask_socketio","Flask-SQLAlchemy==2.1","psycopg2-binary","requests","rfc3987","google-api-python-client"],"id":2}],[{"start":{"row":2,"column":0},"end":{"row":3,"column":14},"action":"remove","lines":["flask","flask_socketio"],"id":3},{"start":{"row":1,"column":14},"end":{"row":2,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":14},"end":{"row":1,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":73,"mode":"ace/mode/text"}},"timestamp":1583564206306,"hash":"f0b780b5deaee3c637ec5466e53876942a454b30"}